@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  from {
    transform: rotate(0deg)
  }
  10% {
    transform: rotate(12deg)
  }
  20% {
    transform: rotate(-8deg)
  }
  40% {
    transform: rotate(12deg)
  }
  60% {
    transform: rotate(-4deg)
  }
  80% {
    transform: rotate(6deg)
  }
  to {
    transform: rotate(0deg)
  }
}

html,
body {
  padding: 0;
  margin: 0;
  @apply font-body;
  @apply bg-black-dark;
  @apply text-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-padding {
  @apply px-10 md:px-14 lg:px-20 xl:px-48;
}

.content-margin {
  @apply mx-10 md:mx-20 lg:mx-44 xl:mx-96;
}

::-webkit-scrollbar {
  @apply rounded-b-full;
  @apply w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full;
  @apply bg-red;
}

::selection {
  @apply bg-red text-black-dark
}